<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>

      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div> -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <div class="right-sidebar">
        <div class="slimscrollright">
          <div class="rpanel-title">
            Service Panel
            <span><i class="ti-close right-side-toggle"></i></span>
          </div>
          <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
              <li><b>Con el sidebar claro</b></li>
              <li>
                <a
                  (click)="changeTheme('default')"
                  data-theme="default"
                  class="selector default-theme"
                  [class.working]="slectedtheme === 'default'"
                  >1</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('green')"
                  data-theme="green"
                  class="selector green-theme"
                  [class.working]="slectedtheme === 'green'"
                  >2</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('red')"
                  data-theme="red"
                  class="selector red-theme"
                  [class.working]="slectedtheme === 'red'"
                  >3</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('blue')"
                  data-theme="blue"
                  class="selector blue-theme"
                  [class.working]="slectedtheme === 'blue'"
                  >4</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('purple')"
                  data-theme="purple"
                  class="selector purple-theme"
                  [class.working]="slectedtheme === 'purple'"
                  >5</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('megna')"
                  data-theme="megna"
                  class="selector megna-theme"
                  [class.working]="slectedtheme === 'megna'"
                  >6</a
                >
              </li>

              <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
              <li>
                <a
                  (click)="changeTheme('default-dark')"
                  data-theme="default-dark"
                  class="selector default-dark-theme"
                  [class.working]="slectedtheme === 'default-dark'"
                  >7</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('green-dark')"
                  data-theme="green-dark"
                  class="selector green-dark-theme"
                  [class.working]="slectedtheme === 'green-dark'"
                  >8</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('red-dark')"
                  data-theme="red-dark"
                  class="selector red-dark-theme"
                  [class.working]="slectedtheme === 'red-dark'"
                  >9</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('blue-dark')"
                  data-theme="blue-dark"
                  class="selector blue-dark-theme"
                  [class.working]="slectedtheme === 'blue-dark'"
                  >10</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('purple-dark')"
                  data-theme="purple-dark"
                  class="selector purple-dark-theme"
                  [class.working]="slectedtheme === 'purple-dark'"
                  >11</a
                >
              </li>
              <li>
                <a
                  (click)="changeTheme('megna-dark')"
                  data-theme="megna-dark"
                  class="selector megna-dark-theme"
                  [class.working]="slectedtheme === 'megna-dark'"
                  >12</a
                >
              </li>
            </ul>
            <ul class="m-t-20 chatonline">
              <li><b>Chat option</b></li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/1.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Varun Dhavan
                    <small class="text-success">online</small></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/2.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Genelia Deshmukh
                    <small class="text-warning">Away</small></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/3.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Ritesh Deshmukh
                    <small class="text-danger">Busy</small></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/4.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Arijit Sinh <small class="text-muted">Offline</small></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/5.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Govinda Star
                    <small class="text-success">online</small></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/6.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >John Abraham<small class="text-success"
                      >online</small
                    ></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/7.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Hritik Roshan<small class="text-success"
                      >online</small
                    ></span
                  ></a
                >
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><img
                    src="../assets/images/users/8.jpg"
                    alt="user-img"
                    class="img-circle"
                  />
                  <span
                    >Pwandeep rajan
                    <small class="text-success">online</small></span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">© 2017 Admin Pro by wrappixel.com</footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>
