<div>
  <!-- Sección de temas -->
  <div class="mb-6">
    <h3 class="text-xl font-semibold mb-2">Themes</h3>
    <div class="flex space-x-3">
      <div
        class="w-8 h-8 rounded-full bg-blue-500 cursor-pointer"
        (click)="changeTheme('default')"
      ></div>
      <div
        class="w-8 h-8 rounded-full bg-green-500 cursor-pointer"
        (click)="changeTheme('green-theme')"
      ></div>
      <div
        class="w-8 h-8 rounded-full bg-pink-500 cursor-pointer"
        (click)="changeTheme('pink-theme')"
      ></div>
      <div
        class="w-8 h-8 rounded-full bg-gray-800 cursor-pointer"
        (click)="changeTheme('dark-theme')"
      ></div>
    </div>
  </div>

  <!-- Escala de tamaño de letra -->
  <div class="mb-6">
    <h3 class="text-xl font-semibold mb-2">Scale</h3>
    <div class="flex items-center space-x-2">
      <button
        (click)="decreaseFontSize()"
        class="w-6 h-6 bg-gray-300 rounded-full text-center flex items-center justify-center"
      >
        -
      </button>
      <div
        *ngFor="let size of fontSizes; let i = index"
        [ngClass]="{
          'bg-green-500': i === selectedFontSize,
          'bg-gray-300': i !== selectedFontSize
        }"
        class="w-6 h-6 rounded-full cursor-pointer"
      ></div>
      <button
        (click)="increaseFontSize()"
        class="w-6 h-6 bg-gray-300 rounded-full text-center flex items-center justify-center"
      >
        +
      </button>
    </div>
  </div>

  <!-- Tipo de menú -->
  <div class="mb-6">
    <h3 class="text-xl font-semibold mb-2">Menu Type</h3>
    <div class="space-y-2">
      <label class="flex items-center">
        <input
          type="radio"
          name="menuType"
          class="mr-2"
          [(ngModel)]="menuType"
          value="Static"
        />
        Static
      </label>
      <label class="flex items-center">
        <input
          type="radio"
          name="menuType"
          class="mr-2"
          [(ngModel)]="menuType"
          value="Overlay"
        />
        Overlay
      </label>
      <label class="flex items-center">
        <input
          type="radio"
          name="menuType"
          class="mr-2"
          [(ngModel)]="menuType"
          value="Slim"
        />
        Slim
      </label>
      <label class="flex items-center">
        <input
          type="radio"
          name="menuType"
          class="mr-2"
          [(ngModel)]="menuType"
          value="SlimPlus"
        />
        Slim+
      </label>
      <label class="flex items-center">
        <input
          type="radio"
          name="menuType"
          class="mr-2"
          [(ngModel)]="menuType"
          value="Drawer"
        />
        Drawer
      </label>
    </div>
  </div>

  <!-- Esquema de color -->
  <div class="mb-6">
    <h3 class="text-xl font-semibold mb-2">Color Scheme</h3>
    <div class="space-y-2">
      <label class="flex items-center">
        <input
          type="radio"
          name="colorScheme"
          class="mr-2"
          [(ngModel)]="colorScheme"
          value="Light"
        />
        Light
      </label>
      <label class="flex items-center">
        <input
          type="radio"
          name="colorScheme"
          class="mr-2"
          [(ngModel)]="colorScheme"
          value="Dark"
        />
        Dark
      </label>
    </div>
  </div>

  <!-- Sección para habilitar o deshabilitar Ripple Effect -->
  <div>
    <h3 class="text-xl font-semibold mb-2">Ripple Effect</h3>
    <p-inputSwitch
      [(ngModel)]="rippleEffect"
      (onChange)="toggleRippleEffect()"
    ></p-inputSwitch>
    <span class="ml-2">Enable Ripple Effect</span>
  </div>
</div>
