<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30">
          <img [src]="usuario.getImgUrl" class="img-circle" width="150" />
          <h4 class="card-title m-t-10">{{ usuario.name }}</h4>
          <h6 class="card-subtitle">Accounts Development</h6>
        </div>
      </div>
      <div>
        <hr />
      </div>
      <div class="card-body">
        <small class="text-muted">Email address </small>
        <h6>{{ usuario.email }}</h6>
        <small class="text-muted p-t-30 db">Phone</small>
        <h6>+91 654 784 547</h6>
        <small class="text-muted p-t-30 db">Social Profile</small>
        <br />
        <button class="btn btn-circle btn-secondary">
          <i class="fa fa-facebook"></i>
        </button>
        <button class="btn btn-circle btn-secondary">
          <i class="fa fa-twitter"></i>
        </button>
        <button class="btn btn-circle btn-secondary">
          <i class="fa fa-youtube"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#profile"
            role="tab"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab"
            >Settings</a
          >
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!--one tab-->
        <div class="tab-pane active" id="profile" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-xs-6 b-r">
                <strong>Full Name</strong>
                <br />
                <p class="text-muted">{{ usuario.name }}</p>
              </div>
              <div class="col-md-4 col-xs-6 b-r">
                <strong>Email</strong>
                <br />
                <p class="text-muted">{{ usuario.email }}</p>
              </div>
              <div class="col-md-4 col-xs-6">
                <strong>Role</strong>
                <br />
                <p class="text-muted">{{ usuario.role }}</p>
              </div>
            </div>
            <hr />
            <p class="m-t-30">
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
              justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
          </div>
        </div>
        <!--second tab-->
        <div class="tab-pane" id="settings" role="tabpanel">
          <div class="row">
            <div class="col-6">
              <div class="card-body">
                <form
                  [formGroup]="perfilForm"
                  (ngSubmit)="actualizarPerfil()"
                  class="form-horizontal form-material"
                >
                  <!-- Name -->
                  <div class="form-group">
                    <label class="col-md-12">Full Name</label>
                    <div class="col-md-12">
                      <input
                        formControlName="name"
                        type="text"
                        placeholder="Johnathan Doe"
                        class="form-control form-control-line"
                      />
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="form-group">
                    <label for="example-email" class="col-md-12">Email</label>
                    <div class="col-md-12">
                      <input
                        formControlName="email"
                        type="email"
                        placeholder="johnathan@admin.com"
                        class="form-control form-control-line"
                        name="example-email"
                        id="example-email"
                        [readOnly]="usuario.google"
                      />
                    </div>
                  </div>
                  <!-- Role -->
                  <div class="form-group">
                    <label for="example-email" class="col-md-12">Role</label>
                    <div class="col-md-12">
                      <input
                        formControlName="role"
                        type="text"
                        placeholder="USER_ROLE"
                        class="form-control form-control-line"
                        name="example-role"
                        id="example-role"
                        [readOnly]="usuario.role === 'USER_ROLE'"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-success">Update Profile</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-6">
              <div class="card-body">
                <div class="form-group">
                  <h4 class="card-title">Avatar</h4>
                  <label for="input-file-now-custom-1"
                    >Imagen del usuario</label
                  >
                  <!-- iamgen -->
                  <div class="form-group">
                    <div class="text-center">
                      <img
                        *ngIf="!imgTemp"
                        [src]="usuario.getImgUrl"
                        alt=""
                        style="width: 200px; height: 200px"
                      />
                      <img
                        *ngIf="imgTemp"
                        [src]="imgTemp"
                        alt=""
                        style="width: 200px; height: 200px"
                      />
                    </div>
                    <div class="col-md-12">
                      <input
                        type="file"
                        class="form-control form-control-line"
                        (change)="cambiarImagen($event.target!)"
                      />
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <div class="col-sm-12">
                      <button
                        type="button"
                        class="btn btn-success"
                        [disabled]="!imagenSubir"
                        (click)="subirImagen()"
                      >
                        Update Photo
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
