<div class="row">
  <div class="col-6">
    <app-dona titulo="Sales"></app-dona>
  </div>
  <div class="col-6">
    <app-dona
      titulo="Compras"
      [labels]="labelsDona1"
      [dataDona]="dataDona1"
    ></app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona titulo="Cambios"></app-dona>
  </div>
  <div class="col-6">
    <app-dona></app-dona>
  </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Line Chart</h4>
        <div>
          <canvas id="chart1" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Bar Chart</h4>
        <div>
          <canvas id="chart2" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pie Chart</h4>
        <div>
          <canvas id="chart3" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doughnut Chart</h4>
        <div>
          <canvas id="chart4" height="150"> </canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Polar Area Chart</h4>
        <div>
          <canvas id="chart5" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Radar Chart</h4>
        <div>
          <canvas id="chart6" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
