<div class="h-screen flex flex-col justify-around">
  <!-- Header -->
  <app-header></app-header>

  <!-- Estructura principal con sidebar y contenido -->
  <div class="flex flex-grow">
    <!-- Sidebar de navegación (menú a la izquierda) -->
    <app-sidebar></app-sidebar>

    <!-- Contenido principal donde se cargan las vistas -->
    <div class="flex-grow p-6">
      <router-outlet></router-outlet>
      <!-- Aquí se cargarán las páginas -->
    </div>

    <!-- Sidebar flotante de configuración con PrimeNG -->
    <p-sidebar
      [(visible)]="isSettingsSidebarOpen"
      [position]="'right'"
      [modal]="true"
    >
      <!-- Pasamos el cambio del ripple effect al main -->
      <app-settings-sidebar
        (rippleEffectChange)="setRippleEffect($event)"
      ></app-settings-sidebar>
    </p-sidebar>

    <!-- Botón flotante con el efecto ripple -->
    <p-button
      icon="pi pi-cog"
      styleClass="p-button-rounded p-button-success p-button-lg fixed bottom-8 right-8 shadow-lg hover:bg-green-600 transition"
      (click)="toggleSettingsSidebar()"
      pRipple
    ></p-button>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
