<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>Seleccione el tema</h4>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li>
              <a
                (click)="changeTheme('default')"
                data-theme="default"
                class="selector default-theme"
                [class.working]="slectedtheme === 'default'"
                >1</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('green')"
                data-theme="green"
                class="selector green-theme"
                [class.working]="slectedtheme === 'green'"
                >2</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('red')"
                data-theme="red"
                class="selector red-theme"
                [class.working]="slectedtheme === 'red'"
                >3</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('blue')"
                data-theme="blue"
                class="selector blue-theme"
                [class.working]="slectedtheme === 'blue'"
                >4</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('purple')"
                data-theme="purple"
                class="selector purple-theme"
                [class.working]="slectedtheme === 'purple'"
                >5</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('megna')"
                data-theme="megna"
                class="selector megna-theme"
                [class.working]="slectedtheme === 'megna'"
                >6</a
              >
            </li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li>
              <a
                (click)="changeTheme('default-dark')"
                data-theme="default-dark"
                class="selector default-dark-theme"
                [class.working]="slectedtheme === 'default-dark'"
                >7</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('green-dark')"
                data-theme="green-dark"
                class="selector green-dark-theme"
                [class.working]="slectedtheme === 'green-dark'"
                >8</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('red-dark')"
                data-theme="red-dark"
                class="selector red-dark-theme"
                [class.working]="slectedtheme === 'red-dark'"
                >9</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('blue-dark')"
                data-theme="blue-dark"
                class="selector blue-dark-theme"
                [class.working]="slectedtheme === 'blue-dark'"
                >10</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('purple-dark')"
                data-theme="purple-dark"
                class="selector purple-dark-theme"
                [class.working]="slectedtheme === 'purple-dark'"
                >11</a
              >
            </li>
            <li>
              <a
                (click)="changeTheme('megna-dark')"
                data-theme="megna-dark"
                class="selector megna-dark-theme"
                [class.working]="slectedtheme === 'megna-dark'"
                >12</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
