/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
}

body {
  font-size: var(--font-size);
}

.cursor {
  cursor: pointer;
}
